@import url("https://fonts.googleapis.com/css2?family=Merienda+One&family=Ubuntu&display=swap");

body {
  background-color: #154c79;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% auto;
  height: 75vh;
  justify-content: space-between;
  font-family: "Ubuntu", sans-serif;
}

h1 {
  margin-bottom: 0px;
}

label {
  font-size: large;
}

input {
  width: 60%;
  margin-top: 9px;
  margin-bottom: 6px;
  height: 30%;
  text-align: center;
  padding: 3px;
  font-size: large;
  border-radius: 8px;
  outline: none;
  background-color: #bae6fd;
  border: 3px solid #0284c7;
}

#lucky-num {
  width: 25%;
  font-size: medium;
  margin-bottom: 2%;
}

#dob-container {
  text-align: center;
}

#luckyNum-container {
  text-align: center;
}

button {
  width: 9%;
  height: 5.5vh;
  font-size: 1rem;
  font-family: "Ubuntu", sans-serif;
  padding-top: 3px;
  padding-bottom: 5px;
  cursor: pointer;
  border-radius: 8px;
  outline: none;
  border: 3px solid #0284c7;
  background-color: #bae6fd;
}

button:hover{
  background-color: #7cbde0;
  transition: 0.2s;
}

#output {
  text-align: center;
  padding-top: 12px;
  width: 30%;
  height: 15vh;
  border: 1px solid black;
  border-radius: 5px;
  border-bottom-right-radius: 20px;
  font-size: large;
  font-family: "Merienda One", cursive;
}
